.button {
  font-family: roboto, arial, sans-serif;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: hsl(180, 40%, 60%);
  overflow: hidden;
}
