html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}
footer {
  @extend $footer-color;
  padding: 10px;
  .copyright {
    @extend %#{$footer-color}%darken-3;
  }
}
